.search-section {
  height: 100vh;
  background-image: url("/assets/imgs/search-section/search-section-bg.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  color: white;
}
.search-section__main-content {
  height: calc(100% - 42px);
  width: 86%;
  background: linear-gradient(0.87deg, rgba(2, 55, 135, 0.9) 0.69%, rgba(81, 38, 174, 0.4736) 100.48%, rgba(38, 92, 174, 0.0102906) 100.49%, rgba(195, 195, 196, 0.00520833) 100.5%, #76A6EF 100.51%);
  padding-top: 42px;
  padding-left: 8%;
  padding-right: 8%;
  color: white;
  padding-right: 8%;
}
[dir=rtl] .search-section__main-content {
  padding-right: 20%;
}
.search-section__nav-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}
.search-section__nav-bar-img {
  width: 40%;
}